<app-navbar></app-navbar>
<div class="container">
    <div class="div row">
        <div class="col.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-6">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

            <table class="table">
                <tr>
                    <td>UserName</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="" id="" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-success">Login</button></td>
                </tr>
            </table>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img height="500" width="500" src="https://paradepets.com/.image/t_share/MTkxMzY1Nzg5NDgwNjU4NDY1/cute-pet-quotes-jpg.jpg" alt="...">
            </div>
        </div>
        <div class="col.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-6">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 c0l-xl-6 col-xxl-6">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td>Pincode</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>District</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Email Id</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Pet</td>
                    <td><select name="" id="">
                        <option value="Dogs">Dogs</option>
                        <option value="Cats">Cats</option>
                        <option value="Birds">Birds</option>
                    </select></td>
                </tr>
                <tr>
                    <td> Mobile Number</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Price Category</td>
                    <td><select name="" id="">
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="3000">3000</option>
                        <option value="4000">4000</option>
                        <option value="5000">5000</option>
                        <option value="5000 above">5000 above</option>
                    </select></td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" class="password form-control"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="text" class="password form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-primary">Register</button></td>
                
                </tr>
            </table>
        </div>
    </div>
</div>
