<app-navbar></app-navbar>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="400" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj2Qipey9npZb1YnGCkyCA69Z7duxkSTesAtKpQadEbBKTkF5MS6UXp5sdMvMiCTk5wlY&usqp=CAU" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>DOGY</h5>
          <p>"A dog is the only thing on earth that loves you more than you love yourself.”</p>
        </div>
      </div>
      <div class="carousel-item">
        <img height="400" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb1s-ptHRbiuPIOkfp9WpiYb9BbOpyuRgZNA&usqp=CAU" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>MEOW</h5>
          <p>"Animals have come to mean so much in our lives"</p>
        </div>
      </div>
      <div class="carousel-item">
        <img height="400" width="50" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/popular-puppy-questions-1639736471.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Birdyyy</h5>
          <p>"It is amazing how much love and laughter they bring into our lives"</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <p>"A pet, or companion animal, is an animal kept primarily for a person's company or entertainment rather than as a working animal, livestock, or a laboratory animal. Popular pets are often considered to have attractive appearances, intelligence, and relatable personalities, but some pets may be taken in on an altruistic basis (such as a stray animal) and accepted by the owner regardless of these characteristics"</p>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <p>"A pet, or companion animal, is an animal kept primarily for a person's company or entertainment rather than as a working animal, livestock, or a laboratory animal. Popular pets are often considered to have attractive appearances, intelligence, and relatable personalities, but some pets may be taken in on an altruistic basis (such as a stray animal) and accepted by the owner regardless of these characteristics"</p>
        </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img height="500" width="1200" src="https://www.edplace.com/userfiles/image/BarChartPets.png" alt="...">
                </div>
    </div>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="400" width="50" src="https://assets3.thrillist.com/v1/image/3094477/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70" class="d-block w-100" alt="...">
      </div>
      </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-6">
                <p>"Pets provide their owners (or "guardians")[1] both physical and emotional benefits. Walking a dog can provide both the human and the dog with exercise, fresh air, and social interaction. Pets can give companionship to people who are living alone or elderly adults who do not have adequate social interaction with other people. There is a medically approved class of therapy animals, that are brought to visit confined humans, such as children in hospitals or elders in nursing homes. Pet therapy utilizes trained animals and handlers to achieve specific physical, social, cognitive, or emotional goals with patients."</p>
            </div>
            <div class="col.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-6">
                <p>"People most commonly get pets for companionship, to protect a home or property or because of the perceived beauty or attractiveness of the animals.[2] A 1994 Canadian study found that the most common reasons for not owning a pet were lack of ability to care for the pet when traveling (34.6%), lack of time (28.6%), and lack of suitable housing (28.3%), with dislike of pets being less common (19.6%).[2] Some scholars, ethicists, and animal rights organizations have raised concerns over keeping pets because of the lack of autonomy and the objectification of non-human animals.[3]"</p>
            </div>
            <div class="col.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-6">
                <img height="500" width="700" src="https://www.sympathymessageideas.com/wp-content/uploads/2015/09/pet-loss-quotes-2.jpg" alt="...">
            </div>
            <div class="col.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-6">
                <img height="500" width="700" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8kmawtYdhjtuR_3evB9KI72L7S3X0fRRb_j1kDCGlC3FVhfLvtC51CJzgH-jjh7vfeXw&usqp=CAU" alt="...">
            </div>
            </div>
            </div>
            
           
